@use "mixin" as m;
@use "base" as *;

// ============================================================
// フッター (_footer.scss)
// ============================================================
#footer {
  position: relative;
  padding: 80px 10% 40px;
  background-color: var(--color-main);
  color: #fff;
  height: 100vh;

  .logo {
    width: 80px;
    height: 80px;
    top: 0;
    left: 5%;

    @include m.tab {
        position: absolute;
        top: 30px;
    }

    img {
      width: 100%;
      height: auto;
      filter: brightness(0) invert(1);
    }
  }

  .side-menu {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    position: relative;

    .menu-list {
      display: flex;
      gap: 1.2rem;
      position: absolute;
      top: -80px;
      right: 0;

      @include m.tab {
        gap: 0.8rem;
        top: 10px;
      }

      @include m.sp {
        gap: 0.5rem;
        top: 10px;
      }

      li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 420px;
        border-left: 0.8px solid transparent;

        .jp {
          writing-mode: vertical-rl;
          text-orientation: upright;
          font-size: 0.9rem;
          letter-spacing: 0.5em;
        }

        .en {
          position: absolute;
          top: 19rem;
          writing-mode: vertical-rl;

          &::before {
            content: "";
            position: absolute;
            top: -90px;
            left: 50%;
            width: 1px;
            height: 70px;
            background: #fff;
          }
        }

        &:hover {
          opacity: 0.7;
          color: var(--color-text-light);
          border-left-color: var(--color-text-light);
        }
      }
    }

    .footer-contact {
      position: absolute;
      left: 0;
      bottom: -425px;
      font-size: 16px;
      letter-spacing: 0.1em;

      @include m.tab {
        bottom: -450px;
        font-size: 0.5rem;
      }

      @include m.sp {
        bottom: -500px;
        font-size: 0.5rem;
      }

      .tel-no {
        font-family: sans-serif;
        font-size: 16px;
        letter-spacing: 0.1em;

        @include m.tab {
          font-size: 0.9rem;
        }
      }

      .footer-access {
        display: flex;
        gap: 20px;

        @include m.tab {
          transform: scale(0.5);
          transform-origin: left top;
          line-height: 1.8rem;
        }

        .map {
          display: flex;
          gap: 10px;
          font-size: 16px;
        }

        .sns {
          display: flex;

          @include m.sp {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
