@charset "UTF-8";
:root {
  --color-main: #2b3a2e;
  --color-text: #111111;
  --color-text-light: #ffffff;
  --color-bg-light: #f5f5f0;
  --font-base: "Noto Serif JP", serif;
  font-weight: 300;
}

html {
  width: 100%;
  color: var(--color-text);
  font-family: var(--font-base);
  font-weight: var(--font-weight);
  line-height: 2;
  letter-spacing: 0.2em;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: var(--font-base);
  line-height: 1.2;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper, #access, .faq, .policy, #information .information-content, #menu {
  padding: 5rem 24px;
}
@media (max-width: 390px) {
  .wrapper, #access, .faq, .policy, #information .information-content, #menu {
    padding: 2rem 1.5rem;
  }
}

.sec-header {
  text-align: center;
  margin-bottom: 5rem;
}

.sec-title {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.15em;
}
@media (max-width: 768px) {
  .sec-title {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.sec-subtitle {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .sec-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

.vertical-title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.2em;
}
@media (max-width: 390px) {
  .vertical-title {
    font-size: 2rem;
  }
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.1em;
}
@media (max-width: 390px) {
  .vertical-text {
    font-size: 0.95rem;
    line-height: 1.8;
  }
}

.jp-subheading {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 390px) {
  .jp-subheading {
    font-size: 1.5rem;
  }
}

.en-title {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-top: 10px;
}

.text-shadow, #hero .hero-bottom .hero-subtext .vertical-text {
  text-shadow: 3px 3px 3px #000000;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10%;
}
@media (max-width: 390px) {
  #header {
    height: 100vh;
    padding: 20px;
  }
}
#header .logo {
  width: 100px;
}
@media (max-width: 390px) {
  #header .logo {
    width: 53px;
  }
}
#header .logo img {
  width: 100%;
}
#header .side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}
#header .side-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 768px) {
  #header .side-menu .menu-list {
    display: none;
  }
}
#header .side-menu .menu-list .header-home {
  display: none;
}
@media (max-width: 768px) {
  #header .side-menu .menu-list .header-home {
    display: block;
  }
}
#header .side-menu .menu-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 420px;
  border-left: 0.8px solid transparent;
}
#header .side-menu .menu-list li a .jp {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.9rem;
  letter-spacing: 0.5em;
}
#header .side-menu .menu-list li a .en {
  position: absolute;
  top: 19rem;
  display: inline-block;
  text-orientation: mixed;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
#header .side-menu .menu-list li a .en::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  width: 1px;
  height: 70px;
  background: #fff;
}
#header .side-menu .menu-list li a:hover {
  opacity: 0.4;
}
#header .side-menu .header-contact {
  position: absolute;
  top: 80vh;
  left: 10%;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  text-orientation: initial;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
}
@media (max-width: 768px) {
  #header .side-menu .header-contact {
    bottom: -350%;
  }
}
@media (max-width: 390px) {
  #header .side-menu .header-contact {
    bottom: -750%;
  }
}
#header .side-menu .header-contact .label {
  font-size: 14px;
}
#header .side-menu .header-contact .tel {
  font-size: 16px;
}
#header .side-menu .header-contact .tel .tel-no {
  font-size: 2rem;
  letter-spacing: 0.1em;
}
@media (max-width: 390px) {
  #header .side-menu .header-contact .tel .tel-no {
    font-size: 16px;
  }
}
#header .side-menu .header-contact .header-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 500px) {
  #header .side-menu .header-contact .header-access {
    gap: 12px;
  }
}
#header .side-menu .header-contact .header-access .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  gap: 10px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #header .side-menu .header-contact .header-access .map {
    font-size: 1.6rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 390px) {
  #header .side-menu .header-contact .header-access .map {
    font-size: 16px;
  }
}
#header .side-menu .header-contact .header-access .map .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 390px) {
  #header .side-menu .header-contact .header-access .map .icon {
    width: 18px;
  }
}
#header .side-menu .header-contact .header-access .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  white-space: nowrap;
}
#header .side-menu .header-contact .header-access .sns img {
  width: 100%;
  height: auto;
}
@media (max-width: 390px) {
  #header .side-menu .header-contact .header-access .sns img {
    width: 22px;
  }
}
#header .toggle-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 1002;
  cursor: pointer;
}
@media (max-width: 768px) {
  #header .toggle-btn {
    display: block;
    mix-blend-mode: difference;
  }
}
#header .toggle-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#header .toggle-btn span:nth-child(1) {
  top: 4px;
}
#header .toggle-btn span:nth-child(2) {
  top: 14px;
}
#header .toggle-btn span:nth-child(3) {
  top: 24px;
}
#header.open .toggle-btn {
  mix-blend-mode: normal;
}
#header.open .toggle-btn span {
  background-color: #fff;
}
#header.open .toggle-btn span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#header.open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
#header.open .toggle-btn span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#header.open .logo {
  position: fixed;
  top: 15px;
  left: 10%;
  z-index: 1002;
  width: 70px;
}
@media (max-width: 390px) {
  #header.open .logo {
    width: 50px;
  }
}
@media (max-width: 768px) {
  #header.open .side-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #5e5d5d;
    color: #fff;
    z-index: 1001;
    padding: 90px 40px;
  }
  #header.open .side-menu .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  #header.open .side-menu .menu-list li a {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    font-size: 1rem;
    border-left: none;
  }
  #header.open .side-menu .menu-list li a .en::before {
    background: #fff;
  }
  #header.open .side-menu .menu-list li a:hover, #header.open .side-menu .menu-list li a:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  #header.open .side-menu .header-contact {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin-left: 0;
    margin-top: 15px;
  }
  #header.open .side-menu .header-contact p {
    margin-left: 0;
  }
  #header.open .side-menu .header-contact .tel {
    font-size: 18px;
  }
  #header.open .side-menu .header-contact .tel .tel-no {
    font-size: 18px;
  }
  #header.open .side-menu .header-contact .header-access .map {
    font-size: 18px;
  }
  #header.open .side-menu .header-contact .header-access .map .icon {
    width: 22px;
  }
}
#header #mask {
  display: none;
}
@media (max-width: 768px) {
  #header #mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
}
@media (max-width: 768px) {
  #header.open #mask {
    display: block;
  }
}

.fixed-btn {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  /* 画像2のようなグレー */
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  cursor: pointer;
  text-decoration: none;
  /* 背景と重なった際に白黒を反転させるプロパティ */
  mix-blend-mode: difference;
  background-color: rgba(255, 255, 255, 0.5);
  /* フォント設定 */
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-text);
  text-transform: capitalize;
  letter-spacing: 0.1em;
}
.fixed-btn span.arrow {
  font-size: 0.8rem;
  display: inline-block;
  -webkit-transform: translateX(-0.1875rem);
          transform: translateX(-0.1875rem);
  margin-top: 1.4em;
}
@media (max-width: 390px) {
  .fixed-btn {
    font-size: 1rem;
    padding: 1rem 0;
  }
}

#hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#hero .hero-top,
#hero .hero-bottom {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 768px) {
  #hero .hero-top,
  #hero .hero-bottom {
    height: 100vh;
  }
}
#hero .hero-top .vertical-text .char,
#hero .hero-bottom .vertical-text .char {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-filter: blur(6px);
          filter: blur(6px);
}
#hero .hero-top .vertical-text.is-active .char,
#hero .hero-bottom .vertical-text.is-active .char {
  -webkit-animation: fadeUp 1.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
          animation: fadeUp 1.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  -webkit-animation-delay: calc(var(--i) * 0.1s);
          animation-delay: calc(var(--i) * 0.1s);
}
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
#hero .hero-top .bg-img,
#hero .hero-bottom .bg-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#hero .hero-top::after,
#hero .hero-bottom::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
#hero .hero-top .hero-text {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  color: #fff;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
@media (max-width: 390px) {
  #hero .hero-top .hero-text {
    left: 10%;
  }
}
#hero .hero-top .hero-text .vertical-title {
  font-size: 3rem;
}
@media (max-width: 390px) {
  #hero .hero-top .hero-text .vertical-title {
    font-size: 2rem;
  }
}
#hero .hero-bottom .hero-subtext {
  position: absolute;
  bottom: 5%;
  left: 10%;
  z-index: 3;
  color: #fff;
}
@media (max-width: 390px) {
  #hero .hero-bottom .hero-subtext {
    right: 10%;
    bottom: 10%;
  }
}
#hero .hero-bottom .hero-subtext .vertical-text {
  font-size: 1rem;
  letter-spacing: 0.4em;
}

#greeting {
  background-color: var(--color-main);
  color: var(--color-text-light);
  padding: 5rem 0;
  background-size: cover;
  background-blend-mode: overlay;
}
@media (max-width: 768px) {
  #greeting {
    padding: 2.5rem 0;
  }
}
#greeting .greeting-content {
  max-width: 1200px;
  margin: 0 auto;
}
#greeting .greeting-content .greeting-top {
  position: relative;
  padding: 100px 0;
  margin-bottom: 10%;
  z-index: 0;
}
@media (max-width: 390px) {
  #greeting .greeting-content .greeting-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
  }
}
#greeting .greeting-content .greeting-top .greeting-text .vertical-title {
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}
#greeting .greeting-content .greeting-top .greeting-text .vertical-title.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#greeting .greeting-content .greeting-top .img-left {
  position: absolute;
  top: -10%;
  left: -12.5%;
  width: 58.5%;
  z-index: -100;
}
#greeting .greeting-content .greeting-top .img-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(10%, rgba(0, 0, 0, 0.8)), color-stop(20%, rgba(0, 0, 0, 0.3)), color-stop(30%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 30%);
  pointer-events: none;
}
@media (max-width: 768px) {
  #greeting .greeting-content .greeting-top .img-left {
    width: 70%;
    top: -5%;
  }
}
@media (max-width: 390px) {
  #greeting .greeting-content .greeting-top .img-left {
    position: static;
    left: 0;
    width: 100%;
    margin-bottom: 6%;
    position: relative;
    overflow: hidden;
  }
}
#greeting .greeting-content .greeting-top .img-right {
  position: absolute;
  bottom: -10%;
  right: -12.5%;
  width: 58.5%;
  z-index: -100;
}
#greeting .greeting-content .greeting-top .img-right::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(10%, rgba(0, 0, 0, 0.8)), color-stop(20%, rgba(0, 0, 0, 0.3)), color-stop(30%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 30%);
  pointer-events: none;
}
@media (max-width: 768px) {
  #greeting .greeting-content .greeting-top .img-right {
    width: 70%;
    bottom: -5%;
  }
}
@media (max-width: 390px) {
  #greeting .greeting-content .greeting-top .img-right {
    position: static;
    width: 100%;
    margin: 6% 0;
    position: relative;
    overflow: hidden;
    left: 0;
  }
}
#greeting .greeting-content .greeting-top .vertical-title {
  font-size: 3rem;
  padding-left: 2rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  justify-self: end;
}
@media (max-width: 768px) {
  #greeting .greeting-content .greeting-top .vertical-title {
    font-size: 2rem;
  }
}
@media (max-width: 390px) {
  #greeting .greeting-content .greeting-top .vertical-title {
    font-size: 1.5rem;
    line-height: 1;
  }
}
#greeting .greeting-content .greeting-top .vertical-title span {
  font-size: 1.5rem;
  display: inline-block;
  text-orientation: mixed;
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
}
@media (max-width: 768px) {
  #greeting .greeting-content .greeting-top .vertical-title span {
    font-size: 1.2rem;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
}
@media (max-width: 390px) {
  #greeting .greeting-content .greeting-top .vertical-title span {
    font-size: 1rem;
    -webkit-transform: translateX(-1.2rem);
            transform: translateX(-1.2rem);
  }
}
#greeting .greeting-content .greeting-top .greeting-text {
  position: relative;
  top: 50%;
  left: 10%;
  width: 80%;
  padding: 4% 4% 2% 4%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 20;
}
@media (max-width: 768px) {
  #greeting .greeting-content .greeting-top .greeting-text {
    gap: 1rem;
  }
}
@media (max-width: 390px) {
  #greeting .greeting-content .greeting-top .greeting-text {
    gap: 0rem;
  }
}
#greeting .greeting-content .greeting-top .greeting-text::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 21;
}
#greeting .greeting-content .greeting-top .greeting-text .text-wrapper .japanese {
  padding-bottom: 2rem;
  letter-spacing: 0.16em;
}
@media (max-width: 390px) {
  #greeting .greeting-content .greeting-top .greeting-text .text-wrapper .japanese {
    padding-bottom: 0rem;
  }
}
#greeting .greeting-content .greeting-top .greeting-text .text-wrapper .japanese .section-text {
  padding-bottom: 2%;
}
#greeting .greeting-content .greeting-top .greeting-text .text-wrapper .english {
  letter-spacing: 0.16em;
}
#greeting .greeting-content .greeting-top .greeting-text .text-wrapper .english .section-text {
  padding-bottom: 2%;
}
#greeting .greeting-content .greeting-down {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
#greeting .greeting-content .greeting-down .img-wrap {
  position: relative;
  overflow: hidden;
}
#greeting .greeting-content .greeting-down .img-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(10%, rgba(0, 0, 0, 0.8)), color-stop(20%, rgba(0, 0, 0, 0.3)), color-stop(30%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 30%);
}
@media (max-width: 768px) {
  #greeting .greeting-content .greeting-down {
    gap: 0rem;
    padding: 0 1.5rem;
  }
}

#menu {
  background-color: var(--color-bg-light);
  background-image: url("../img/backgroundimage01.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  #menu {
    padding: 3rem 1.5rem;
  }
}
@media (max-width: 390px) {
  #menu {
    padding: 2rem 1.5rem;
  }
}
#menu .sec-header {
  margin: 0 auto;
}
#menu .sec-header .sec-title {
  color: var(--color-main);
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#menu .sec-header .sec-title.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  #menu .sec-header .sec-title {
    font-size: 2rem;
  }
}
@media (max-width: 390px) {
  #menu .sec-header .sec-title {
    font-size: 1.5rem;
  }
}
#menu .sec-header .sec-subtitle {
  font-size: 2rem;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#menu .sec-header .sec-subtitle.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  #menu .sec-header .sec-subtitle {
    font-size: 1.2rem;
  }
}
@media (max-width: 390px) {
  #menu .sec-header .sec-subtitle {
    font-size: 1rem;
  }
}
#menu .sec-header .sec-title.is-active,
#menu .sec-header .sec-subtitle.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
#menu .menu-list {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  #menu .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
#menu .menu-list .menu-item {
  width: 31%;
  background-color: transparent;
  text-align: left;
}
@media (max-width: 768px) {
  #menu .menu-list .menu-item {
    width: 80%;
    max-width: 450px;
    margin-bottom: 40px;
  }
}
@media (max-width: 390px) {
  #menu .menu-list .menu-item {
    width: 100%;
  }
}
#menu .menu-list .menu-item img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
#menu .menu-list .menu-item .menu-item-text .menu-title {
  font-size: 1.2rem;
  color: var(--color-text);
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
}
#menu .menu-list .menu-item .menu-item-text .menu-meal {
  padding: 1.5rem 0;
  letter-spacing: 1;
}
#menu .menu-list .menu-item .menu-item-text .menu-meal .number {
  font-size: 2.5rem;
}
#menu .menu-list .menu-item .menu-item-text .menu-price {
  color: var(--color-text);
  margin-bottom: 2rem;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
#menu .menu-list .menu-item .menu-item-text .menu-desc {
  font-size: 1rem;
  line-height: 2.2;
  color: var(--color-text);
  letter-spacing: 0.05em;
  padding-bottom: 2rem;
}

.occasion {
  background-color: #111111;
  color: var(--color-text-light);
  width: 100%;
  padding: 0 0 50px;
}
.occasion-header {
  background-image: url(../img/Occasions-main.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 80px 60px 0;
  text-shadow: 4px 4px 6px #000000;
}
.occasion-header .sec-title {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 8rem;
  line-height: 0.9;
  margin-left: auto;
  text-align: left;
  height: auto;
}
@media (max-width: 768px) {
  .occasion-header .sec-title {
    font-size: 3rem;
  }
}
@media (max-width: 390px) {
  .occasion-header .sec-title {
    font-size: 2.2rem;
  }
}
.occasion-header .sec-title-small {
  font-size: 4.875rem;
}
@media (max-width: 768px) {
  .occasion-header .sec-title-small {
    font-size: 2.5rem;
  }
}
@media (max-width: 390px) {
  .occasion-header .sec-title-small {
    font-size: 2rem;
  }
}
.occasion-header .sec-title-jp {
  display: inline-block;
  margin-top: 7rem;
  font-size: 6rem;
  line-height: 0.9;
}
@media (max-width: 768px) {
  .occasion-header .sec-title-jp {
    margin-top: 5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 390px) {
  .occasion-header .sec-title-jp {
    margin-top: 3rem;
    font-size: 2rem;
  }
}
.occasion-header .sec-subtitle {
  font-size: 2rem;
  margin-top: -15px;
  text-align: right;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.occasion-header .sec-subtitle.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  .occasion-header .sec-subtitle {
    font-size: 1rem;
  }
}
.occasion-list {
  padding: 80px 0 50px;
}
@media (max-width: 390px) {
  .occasion-list {
    padding: 80px 0 0;
  }
}
.occasion {
  /* 共通設定 */
}
.occasion-item, .occasion-item-reverse {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.occasion-item .item1, .occasion-item-reverse .item1 {
  margin-top: -40px;
}
.occasion-item .item1 .vertical-title, .occasion-item-reverse .item1 .vertical-title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: clamp(4rem, 12vw, 9rem);
}
@media (max-width: 768px) {
  .occasion-item .item1 .vertical-title, .occasion-item-reverse .item1 .vertical-title {
    font-size: 4rem;
    padding-left: 1rem;
  }
}
@media (max-width: 390px) {
  .occasion-item .item1 .vertical-title, .occasion-item-reverse .item1 .vertical-title {
    font-size: 3rem;
  }
}
.occasion-item .item1 .shift-line-right, .occasion-item-reverse .item1 .shift-line-right {
  display: inline-block;
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
}
@media (max-width: 768px) {
  .occasion-item .item1 .shift-line-right, .occasion-item-reverse .item1 .shift-line-right {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
}
.occasion-item .item1 .shift-line-left, .occasion-item-reverse .item1 .shift-line-left {
  display: inline-block;
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
}
@media (max-width: 768px) {
  .occasion-item .item1 .shift-line-left, .occasion-item-reverse .item1 .shift-line-left {
    -webkit-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
  }
}
.occasion-item .item1 .en-title, .occasion-item-reverse .item1 .en-title {
  opacity: 0;
  -webkit-transition: all 2.5s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2.5s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.occasion-item .item1 .en-title.is-active, .occasion-item-reverse .item1 .en-title.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  .occasion-item .item1 .en-title, .occasion-item-reverse .item1 .en-title {
    margin-left: 1rem;
  }
}
.occasion-item .item2, .occasion-item-reverse .item2 {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.occasion-item .item3, .occasion-item-reverse .item3 {
  width: 100%;
}
@media (max-width: 768px) {
  .occasion-item .item3, .occasion-item-reverse .item3 {
    line-height: 2;
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
}
@media (max-width: 390px) {
  .occasion-item .item3, .occasion-item-reverse .item3 {
    font-size: 0.9rem;
  }
}
.occasion {
  /* occasion-item : 1, 2, 3 の順番 (PC) */
}
.occasion-item {
  grid-template-columns: 15% 1fr 45%;
  padding-left: 60px;
}
.occasion-item .item1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-bottom: 5rem;
  margin-left: -30px;
}
.occasion-item .item2 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.occasion-item .item3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  line-height: 2;
}
@media (max-width: 768px) {
  .occasion-item {
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    padding-left: 0;
  }
  .occasion-item .item1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 5%;
    margin-left: 0;
  }
  .occasion-item .item2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .occasion-item .item3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    grid-column: 1/-1;
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
}
.occasion {
  /* occasion-item-reverse : 3, 2, 1 の順番 (PC) */
}
.occasion-item-reverse {
  grid-template-columns: 45% 1fr 15%;
  padding-right: 60px;
}
.occasion-item-reverse .item1 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  justify-self: end; /* グリッド内で右端に寄せる */
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  padding-bottom: 5rem;
  margin-right: -30px;
}
.occasion-item-reverse .item2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.occasion-item-reverse .item3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  line-height: 2;
}
@media (max-width: 768px) {
  .occasion-item-reverse {
    grid-template-columns: 4fr 1fr;
    gap: 40px;
    padding-right: 5%;
  }
  .occasion-item-reverse .item1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
  .occasion-item-reverse .item2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .occasion-item-reverse .item3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    grid-column: 1/-1;
    padding-left: 1rem;
  }
}
@media (max-width: 390px) {
  .occasion-item-reverse {
    gap: 10px;
  }
}

#information {
  background-color: var(--color-main);
  color: var(--color-text-light);
  background-size: cover;
  background-blend-mode: overlay;
}
#information .information-content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  #information .information-content {
    grid-template-columns: 1fr;
  }
}
#information .information-content-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
@media (max-width: 1100px) {
  #information .information-content-detail {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#information .information-content .vertical-title {
  font-size: 3rem;
  padding-left: 2rem;
  letter-spacing: 0.5em;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}
#information .information-content .vertical-title.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  #information .information-content .vertical-title {
    padding-left: 0;
    width: 20%;
    font-size: 2rem;
  }
}
@media (max-width: 390px) {
  #information .information-content .vertical-title {
    width: 10%;
  }
}
#information .information-content .vertical-title span {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  display: inline-block;
  text-orientation: mixed;
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
}
@media (max-width: 1200px) {
  #information .information-content .vertical-title span {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  #information .information-content .vertical-title span {
    -webkit-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
    font-size: 1.2rem;
  }
}
@media (max-width: 390px) {
  #information .information-content .vertical-title span {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    font-size: 1rem;
  }
}
#information .information-content .vertical-text {
  margin: 0 auto;
  padding-top: 3rem;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.5em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#information .information-content .vertical-text.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 1100px) {
  #information .information-content .vertical-text {
    line-height: 3;
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  #information .information-content .vertical-text {
    width: 70%;
    line-height: clamp(3em, 0.595vw - 1.571em, 2em);
    margin: 0 auto;
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  #information .information-content .vertical-text {
    width: 85%;
    margin: 0;
    margin-left: auto;
  }
}
@media (max-width: 550px) {
  #information .information-content .vertical-text {
    line-height: 2;
  }
}
@media (max-width: 435px) {
  #information .information-content .vertical-text {
    padding-right: 3%;
  }
}
@media (max-width: 390px) {
  #information .information-content .vertical-text {
    padding-right: 5%;
    line-height: 1.8;
  }
}
#information .information-content-map {
  padding-top: 3rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 85%;
  margin: auto;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#information .information-content-map.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 1100px) {
  #information .information-content-map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 390px) {
  #information .information-content-map {
    width: 90%;
  }
}
#information .information-content .english-list {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  padding-top: 3rem;
  margin: auto;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#information .information-content .english-list.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 1100px) {
  #information .information-content .english-list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    text-align: left;
  }
}
@media (max-width: 390px) {
  #information .information-content .english-list {
    width: 100%;
  }
}
#information .information-content .english-list-item {
  padding: 10px 0;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
#information .information-content .english-list-item h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
@media (max-width: 390px) {
  #information .information-content .english-list-item h3 {
    font-size: 1rem;
  }
}
#information .information-content .english-list-item p {
  font-size: 1rem;
}
@media (max-width: 390px) {
  #information .information-content .english-list-item p {
    font-size: 0.9rem;
  }
}

.policy {
  color: var(--color-text-light);
  background-image: url(../img/Policy.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.policy__title {
  text-align: center;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .policy__title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 390px) {
  .policy__title {
    margin-bottom: 5px;
  }
}
.policy__title-jp {
  font-size: 3rem;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.policy__title-jp.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  .policy__title-jp {
    font-size: 2rem;
  }
}
@media (max-width: 390px) {
  .policy__title-jp {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}
.policy__title-en {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.policy__title-en.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  .policy__title-en {
    font-size: 1.5rem;
  }
}
@media (max-width: 390px) {
  .policy__title-en {
    font-size: 1rem;
  }
}
.policy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 5%;
  max-width: 1000px;
  letter-spacing: 0.25em;
  line-height: 1.5;
  font-weight: lighter;
  opacity: 0;
  -webkit-transition: all 2.2s cubic-bezier(0.22, 1, 0.36, 1) 0.2s;
  transition: all 2.2s cubic-bezier(0.22, 1, 0.36, 1) 0.2s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.policy__content.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 390px) {
  .policy__content {
    margin: 0 0;
    letter-spacing: 0.1em;
  }
}
.policy__content-jp {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .policy__content-jp {
    font-size: 1rem;
  }
}
@media (max-width: 390px) {
  .policy__content-jp {
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }
}
.policy__content-jp-en {
  padding-top: 1rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .policy__content-jp-en {
    font-size: 0.875rem;
  }
}

/* 基本設定 */
.faq {
  background-image: url(../img/backgroundimage02.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.faq .faq-container {
  width: 100%;
  max-width: 800px;
}
.faq {
  /* ヘッダー部分 */
}
.faq .sec-header {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 390px) {
  .faq .sec-header {
    margin-bottom: 0px;
  }
}
.faq .sec-header .sec-title {
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.faq .sec-header .sec-title.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  .faq .sec-header .sec-title {
    font-size: 2.25rem;
  }
}
@media (max-width: 390px) {
  .faq .sec-header .sec-title {
    font-size: 1.5rem;
  }
}
.faq .sec-header .sec-subtitle {
  font-size: 2rem;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.faq .sec-header .sec-subtitle.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  .faq .sec-header .sec-subtitle {
    font-size: 1.25rem;
  }
}
@media (max-width: 390px) {
  .faq .sec-header .sec-subtitle {
    font-size: 1rem;
  }
}
.faq {
  /* FAQ リスト */
}
.faq .faq-list {
  border-top: 1px solid #333;
  max-width: 1000px;
  margin: 0 auto;
}
.faq .faq-item {
  border-bottom: 1px solid #333;
}
.faq {
  /* 質問部分 (Button) */
}
.faq .faq-question {
  width: 100%;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 10px;
  cursor: pointer;
  text-align: left;
  font-family: inherit;
  font-size: 1rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 768px) {
  .faq .faq-question {
    padding: 25px;
  }
}
@media (max-width: 390px) {
  .faq .faq-question {
    font-size: 0.9rem;
    line-height: 1.2;
  }
}
.faq .faq-question:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.faq .q-prefix,
.faq .a-prefix {
  font-size: 1.2rem;
  margin-right: 20px;
  width: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 390px) {
  .faq .q-prefix,
  .faq .a-prefix {
    margin-right: 1rem;
    width: 0px;
  }
}
.faq .faq-question .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 1.6;
}
.faq .en-text {
  font-size: 0.9rem;
  display: block;
  letter-spacing: 0.05em;
  margin-top: 4px;
}
.faq {
  /* プラス・マイナス アイコン */
}
.faq .icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.faq .icon::before,
.faq .icon::after {
  content: "";
  position: absolute;
  background-color: #333;
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: transform 1s ease-out, opacity 1s ease-out;
  transition: transform 1s ease-out, opacity 1s ease-out, -webkit-transform 1s ease-out;
}
.faq {
  /* 横棒 */
}
.faq .icon::before {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
}
.faq {
  /* 縦棒 (プラスの時だけ表示) */
}
.faq .icon::after {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
}
.faq {
  /* 開いている時のアイコン (マイナスにする) */
}
.faq .faq-item.active .icon::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
}
.faq {
  /* 回答部分 */
}
.faq .faq-answer {
  display: none;
}
.faq .answer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 25px 10px;
  line-height: 1.8;
}

#access {
  background-image: url(../img/backgroundimage03.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#access .sec-header {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  #access .sec-header {
    margin-bottom: 20px;
  }
}
#access .sec-header .sec-title {
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#access .sec-header .sec-title.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#access .sec-header .sec-subtitle {
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#access .sec-header .sec-subtitle.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#access .access-content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1) 0.4s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
#access .access-content.is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (max-width: 768px) {
  #access .access-content {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
#access .access-content .access-table-wrap-1,
#access .access-content .access-table-wrap-2 {
  max-width: 1000px;
  width: 100%;
}
#access .access-content .access-table-wrap-1 .access-table,
#access .access-content .access-table-wrap-2 .access-table {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-weight: lighter;
}
#access .access-content .access-table-wrap-1 .access-table .access-row,
#access .access-content .access-table-wrap-2 .access-table .access-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #000000;
}
@media (max-width: 768px) {
  #access .access-content .access-table-wrap-1 .access-table .access-row,
  #access .access-content .access-table-wrap-2 .access-table .access-row {
    width: 100%;
    margin: 0 auto;
  }
  #access .access-content .access-table-wrap-1 .access-table .access-row dt,
  #access .access-content .access-table-wrap-2 .access-table .access-row dt {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    width: auto;
  }
  #access .access-content .access-table-wrap-1 .access-table .access-row dd,
  #access .access-content .access-table-wrap-2 .access-table .access-row dd {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
}
@media (max-width: 620px) {
  #access .access-content .access-table-wrap-1 .access-table .access-row dt,
  #access .access-content .access-table-wrap-2 .access-table .access-row dt {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    width: auto;
  }
}
#access .access-content .access-table-wrap-1 .access-table dt,
#access .access-content .access-table-wrap-1 .access-table dd,
#access .access-content .access-table-wrap-2 .access-table dt,
#access .access-content .access-table-wrap-2 .access-table dd {
  display: block;
  padding: 20px 0;
  text-align: left;
  font-size: 0.95rem;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
  #access .access-content .access-table-wrap-1 .access-table dt,
  #access .access-content .access-table-wrap-1 .access-table dd,
  #access .access-content .access-table-wrap-2 .access-table dt,
  #access .access-content .access-table-wrap-2 .access-table dd {
    font-size: 0.875rem;
    padding: 15px 0;
  }
}
#access .access-content .access-table-wrap-1 .access-table dt,
#access .access-content .access-table-wrap-2 .access-table dt {
  /* 項目名の幅を適切に確保 */
  font-weight: bold;
  padding-right: 20px;
  /* テキスト間の自然な余白 */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* フレックスで潰れるのを防ぐ */
}
#access .access-content .access-table-wrap-1 {
  width: 80%;
  margin-left: auto;
}
@media (max-width: 768px) {
  #access .access-content .access-table-wrap-1 {
    margin-left: 0;
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 390px) {
  #access .access-content .access-table-wrap-1 {
    width: 100%;
  }
}
#access .access-content .access-table-wrap-1 dd {
  width: calc(100% - 100px);
}
@media (min-width: 1000px) {
  #access .access-content .access-table-wrap-1 dd {
    width: calc(100% - 200px);
  }
}
#access .access-content .access-table-wrap-1 dt {
  width: 100px;
}
#access .access-content .access-table-wrap-2 {
  width: 80%;
  margin-right: auto;
}
@media (min-width: 1000px) {
  #access .access-content .access-table-wrap-2 {
    margin-right: 100px;
  }
}
@media (max-width: 768px) {
  #access .access-content .access-table-wrap-2 {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 390px) {
  #access .access-content .access-table-wrap-2 {
    width: 100%;
  }
}
#access .access-content .access-table-wrap-2 dd {
  width: calc(100% - 130px);
}
@media (min-width: 1000px) {
  #access .access-content .access-table-wrap-2 dd {
    width: calc(100% - 200px);
  }
}
#access .access-content .access-table-wrap-2 dt {
  width: 130px;
}
@media (max-width: 768px) {
  #access .access-table-wrap-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #access .access-table-wrap-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #access .access-map-wrap-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #access .access-map-wrap-2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
#access .access-map-wrap-1,
#access .access-map-wrap-2 {
  margin: 50px auto;
  width: 100%;
}
@media (max-width: 768px) {
  #access .access-map-wrap-1,
  #access .access-map-wrap-2 {
    margin: 0 auto;
    width: 100%;
  }
}
#access .access-map-wrap-1 .shop-img,
#access .access-map-wrap-2 .shop-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  #access .access-map-wrap-1 .shop-img,
  #access .access-map-wrap-2 .shop-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#access .access-map-wrap-1 .map-embed,
#access .access-map-wrap-2 .map-embed {
  width: 100%;
  height: auto;
  aspect-ratio: 5/4;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
@media (max-width: 768px) {
  #access .access-map-wrap-1 .map-embed,
  #access .access-map-wrap-2 .map-embed {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

#footer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-main);
  padding: 100px 10% 60px;
}
@media (max-width: 768px) {
  #footer {
    height: 100dvh;
  }
}
@media (max-width: 390px) {
  #footer {
    padding: 50px 10% 30px;
  }
}
#footer .logo {
  width: 100px;
}
@media (max-width: 390px) {
  #footer .logo {
    width: 60px;
  }
}
#footer .logo img {
  width: 100%;
}
#footer .side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}
#footer .side-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 768px) {
  #footer .side-menu .menu-list {
    gap: 0.8rem;
  }
}
@media (max-width: 390px) {
  #footer .side-menu .menu-list {
    gap: 0.6rem;
  }
}
@media (max-width: 768px) {
  #footer .side-menu .menu-list .footer-home {
    display: block;
  }
}
#footer .side-menu .menu-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 420px;
  border-left: 0.8px solid transparent;
}
#footer .side-menu .menu-list li a .jp {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.9rem;
  letter-spacing: 0.5em;
}
#footer .side-menu .menu-list li a .en {
  position: absolute;
  top: 19rem;
  display: inline-block;
  text-orientation: mixed;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
#footer .side-menu .menu-list li a .en::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  width: 1px;
  height: 70px;
  background: #fff;
}
#footer .side-menu .menu-list li a:hover {
  opacity: 0.4;
}
#footer .side-menu .footer-contact {
  position: absolute;
  bottom: 40px;
  left: 10%;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  text-orientation: initial;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
}
@media (max-width: 970px) {
  #footer .side-menu .footer-contact {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  #footer .side-menu .footer-contact .label {
    font-size: 1rem;
  }
}
#footer .side-menu .footer-contact .tel-no {
  font-size: 2rem;
  letter-spacing: 0.1em;
}
@media (max-width: 500px) {
  #footer .side-menu .footer-contact .tel-no {
    font-size: 1rem;
  }
}
#footer .side-menu .footer-contact .footer-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 500px) {
  #footer .side-menu .footer-contact .footer-access {
    gap: 12px;
  }
}
@media (max-width: 390px) {
  #footer .side-menu .footer-contact .footer-access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    line-height: 1.8rem;
  }
}
#footer .side-menu .footer-contact .footer-access .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  gap: 10px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #footer .side-menu .footer-contact .footer-access .map {
    font-size: 1.6rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 500px) {
  #footer .side-menu .footer-contact .footer-access .map {
    font-size: 1rem;
  }
}
#footer .side-menu .footer-contact .footer-access .map .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 390px) {
  #footer .side-menu .footer-contact .footer-access .map .icon {
    width: 18px;
  }
}
#footer .side-menu .footer-contact .footer-access .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  white-space: nowrap;
}
#footer .side-menu .footer-contact .footer-access .sns img {
  width: 100%;
  height: auto;
}
@media (max-width: 390px) {
  #footer .side-menu .footer-contact .footer-access .sns img {
    width: 22px;
  }
}/*# sourceMappingURL=style.css.map */